<div class="thb-header-mobile-left">
	{% render 'header-mobile-toggle', header_settings: header_settings, blocks: blocks %}
</div>
{% render 'header-logo', header_settings: header_settings %}
{% render 'header-secondary-area', header_settings: header_settings %}
{% render 'header-full-menu', menu: header_settings.menu, blocks: blocks %}
