<style>
  .pop-up-v1 {
    /* background-color: #000; */
    max-width: 95%;
    max-height: 95%;
  }

  .pop-up-v1-content {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: calc(100vw * 10 / var(--base-width));
    color: #0d0d0d;
  }
  .pop-up-left {
    width: calc(100vw * 350 / var(--base-width));
  }
  .pop-up-left-top {
    height: 695px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: calc(100vw * 28 / var(--base-width)) calc(100vw * 24 / var(--base-width)) 0;
  }
  .pop-up-left-top h2 {
    font-size: calc(100vw * 40 / var(--base-width));
    line-height: calc(100vw * 46 / var(--base-width));
    margin-bottom: calc(100vw * 10 / var(--base-width));
  }
  .pop-up-left-top p {
    font-size: calc(100vw * 18 / var(--base-width));
    line-height: calc(100vw * 24 / var(--base-width));
  }
  .pop-up-left-bottom {
    margin-top: calc(100vw * 10 / var(--base-width));
  }
  .bottom-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .icon-item {
    padding: calc(100vw * 30 / var(--base-width));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .icon-item:hover {
    background-color: #0522cb;
  }
  .icon-item img {
    max-width: calc(100vw * 20 / var(--base-width));
  }
  .pop-up-middle {
    width: calc(100vw * 786 / var(--base-width));
    background-color: #fff;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: calc(100vw * 28 / var(--base-width)) calc(100vw * 43 / var(--base-width))
      calc(100vw * 39 / var(--base-width));
  }
  .model-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(100vw * 32 / var(--base-width));
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }
  .model-close img {
    max-width: calc(100vw * 16 / var(--base-width));
  }
  @media screen and (max-width: 750px) {
    .pop-up-v1-content {
      flex-wrap: wrap;
      padding: 0 calc(100vw * 18 / var(--base-width));
    }
    .pop-up-left {
      width: 100%;
    }
    .pop-up-left-top {
      height: calc(100vw * 500 / var(--base-width));
      overflow: hidden;
      padding: calc(100vw * 60 / var(--base-width)) calc(100vw * 66 / var(--base-width)) 0;
    }
    .pop-up-left-top h2 {
      font-size: calc(100vw * 70 / var(--base-width));
      line-height: calc(100vw * 76 / var(--base-width));
      margin-bottom: calc(100vw * 30 / var(--base-width));
    }
    .pop-up-left-top p {
      font-size: calc(100vw * 30 / var(--base-width));
      line-height: calc(100vw * 36 / var(--base-width));
    }
    .icon-item {
      padding: calc(100vw * 64 / var(--base-width));
    }
    .icon-item img {
      max-width: calc(100vw * 40 / var(--base-width));
    }
    .pop-up-left-bottom {
      margin-top: calc(100vw * 11 / var(--base-width));
      margin-bottom: calc(100vw * 20 / var(--base-width));
    }
    .pop-up-middle {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      padding: calc(100vw * 50 / var(--base-width)) calc(100vw * 34 / var(--base-width))
        calc(100vw * 63 / var(--base-width));
    }
    .pop-up-right {
      width: 100%;
      margin-top: calc(100vw * 10 / var(--base-width));
    }
    .model-close {
      padding: calc(100vw * 38 / var(--base-width)) 0;
    }
    .model-close img {
      max-width: calc(100vw * 24 / var(--base-width));
    }
  }
</style>
<div class="pop-up-v1">
  <div class="pop-up-v1-content">
    <div class="pop-up-left">
      <div class="pop-up-left-top">
        <h2>Get in touch with the team</h2>
        <p>Contact us for filter bag solutions, expert consultations and partnership opportunities.</p>
      </div>
      <div class="pop-up-left-bottom">
        <div class="bottom-icons">
          <div class="icon-item">
            <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/Group.png?v=1732242447" alt="">
          </div>
          <div class="icon-item">
            <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/Group.png?v=1732242447" alt="">
          </div>
          <div class="icon-item">
            <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/Group.png?v=1732242447" alt="">
          </div>
          <div class="icon-item">
            <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/Group.png?v=1732242447" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="pop-up-middle">
      {% render 'teflo-form-v1' %}
    </div>
    <div class="pop-up-right">
      <div class="model-close">
        <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/Group_9401.png?v=1732245756" alt="">
      </div>
    </div>
  </div>
</div>
