<style>
  .v1-advantages p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .v1-advantages ul {
    margin: 0;
    padding: 0;
    max-width: calc(100vw * 600 / var(--base-width));
  }
  .v1-advantages {
    padding: 0 calc(100vw * 20 / var(--base-width));
    padding-top: calc(100vw * 55 / var(--base-width));
    padding-bottom: calc(100vw * 100 / var(--base-width));
    background-color: #fff;
  }
  .advantages-title {
    padding-bottom: calc(100vw * 50 / var(--base-width));
    margin-bottom: calc(100vw * 40 / var(--base-width));
    border-bottom: 0.3px solid rgba(13, 13, 13, 0.5);
  }
  .advantages-title .title-desc {
    display: block;
    color: #1a1a1a;
    font-family: 'Fusion Pixel';
    font-size: calc(100vw * 16 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: calc(100vw * 10 / var(--base-width));
  }
  .advantages-title .advantages-h2 {
    color: #1a1a1a;
    font-family: 'OPPO Sans';
    font-size: calc(100vw * 60 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 66 / var(--base-width));
    letter-spacing: calc(100vw * -1.8 / var(--base-width));
    text-transform: capitalize;
  }
  .advantage-item-box {
    position: sticky;
    top: 60px;
    background-color: #fff;
  }
  .advantage-item {
    display: flex;
    justify-content: space-between;
    column-gap: calc(100vw * 50 / var(--base-width));
    align-items: flex-start;
  }
  .advantage-title {
    color: #1a1a1a;
    font-family: 'OPPO Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px; /* 110% */
    letter-spacing: -1.2px;
    text-transform: capitalize;
    padding-bottom: 30px;
    border-bottom: 0.3px solid rgba(26, 26, 26, 0.3);
  }
  .advantage-desc {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 90px;
  }
  .advantage-desc-num {
    color: #1a1a1a;
    font-family: 'Fusion Pixel';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 100% */
    text-transform: uppercase;
  }
  .advantage-desc-ul li {
    position: relative;
    color: #1a1a1a;
    font-family: Matter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
  }
  .advantage-desc-ul li::marker {
    color: #0522cb;
    font-size: 20px;
  }
  .advantage-img {
    max-width: calc(100vw * 600 / var(--base-width));
    border-radius: 10px;
    overflow: hidden;
  }
  @media screen and (max-width: 750px) {
  }
</style>
<div class="v1-advantages">
  <div class="v1-advantages-content">
    <div class="advantages-title">
      <span class="title-desc">[ thispower ]</span>
      <h2 class="advantages-h2">Our Advantages</h2>
    </div>
    <div class="advantages-box">
      <div class="advantage-item-box">
        <div class="advantage-item">
          <div class="advantage-left">
            <div class="advantage-title">Over Other Synthetic Winch Ropes</div>
            <div class="advantage-desc">
              <span class="advantage-desc-num">001/002</span>
              <ul class="advantage-desc-ul">
                <li>Highest strength synthetic winch rope</li>
                <li>
                  Use smaller diameter line without sacrificing strength - either gain winch efficiency or gain winch
                  rope length
                </li>
                <li>Spliced by our engineers</li>
              </ul>
            </div>
          </div>
          <div class="advantage-right">
            <div class="advantage-img">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/image.png?v=1732548561" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="advantage-item-box">
        <div class="advantage-item">
          <div class="advantage-left">
            <div class="advantage-title">Over Other Synthetic Winch Ropes</div>
            <div class="advantage-desc">
              <span class="advantage-desc-num">001/002</span>
              <ul class="advantage-desc-ul">
                <li>Highest strength synthetic winch rope</li>
                <li>
                  Use smaller diameter line without sacrificing strength - either gain winch efficiency or gain winch
                  rope length
                </li>
                <li>Spliced by our engineers</li>
              </ul>
            </div>
          </div>
          <div class="advantage-right">
            <div class="advantage-img">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/image.png?v=1732548561" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="advantage-item-box">
        <div class="advantage-item">
          <div class="advantage-left">
            <div class="advantage-title">Over Other Synthetic Winch Ropes</div>
            <div class="advantage-desc">
              <span class="advantage-desc-num">001/002</span>
              <ul class="advantage-desc-ul">
                <li>Highest strength synthetic winch rope</li>
                <li>
                  Use smaller diameter line without sacrificing strength - either gain winch efficiency or gain winch
                  rope length
                </li>
                <li>Spliced by our engineers</li>
              </ul>
            </div>
          </div>
          <div class="advantage-right">
            <div class="advantage-img">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/image.png?v=1732548561" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "V1 Advantages",
  "settings": [],
  "presets": [
    {
      "name": "V1 Advantages"
    }
  ]
}
{% endschema %}
