<link rel="stylesheet" href="https://unpkg.com/swiper@11/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
<style>
  .v1-swiper p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .v1-swiper {
    border-top: 0.3px solid rgba(26, 26, 26, 0.3);
    background-color: #fff;
  }
  .v1-swiper-content {
    padding: 0 calc(100vw * 20 / var(--base-width));
    padding-bottom: calc(100vw * 130 / var(--base-width));
  }
  .v1-swiper-top {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .v1-swiper-info {
    max-width: 770px;
    text-align: left;
  }
  .v1-swiper-desc {
    color: #1a1a1a;
    font-family: 'Fusion Pixel';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: 0;
  }
  .v1-swiper-info .v1-swiper-info-1 {
    color: #1a1a1a;
    font-family: 'OPPO Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: -0.6px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .v1-swiper-info .v1-swiper-h2 {
    color: #1a1a1a;
    font-family: 'OPPO Sans';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 66px; /* 110% */
    letter-spacing: -1.8px;
    text-transform: capitalize;
  }
  .v1-swiper-info .v1-swiper-info-2 {
    color: #1a1a1a;
    font-family: Matter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    margin-top: 20px;
  }
  .swiper-slide-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .v1-swiper p.swiper-slide-item-info {
    color: #1a1a1a;
    font-family: Matter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    text-transform: capitalize;
    margin-top: 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #fff;
    background-color: #0522CB;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: '';
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: '';
  }
  @media screen and (max-width: 750px) {
  }
</style>
<div class="v1-swiper">
  <div class="v1-swiper-content">
    <div class="v1-swiper-top">
      <span class="v1-swiper-desc">[ thispower ]</span>
      <div class="v1-swiper-info">
        <p class="v1-swiper-info-1">Applications Of Winch Rope</p>
        <h2 class="v1-swiper-h2">Versatile Applications of Classic Winch Rope</h2>
        <p class="v1-swiper-info-2">
          Winch ropes are very useful on farms and in other agricultural areas. They help with tasks like pulling logs,
          clearing debris, and moving equipment. You can find them on machines that drag fallen trees or pull out stuck
          equipment, like a wire rope pulling machine or winch. Knowing which ropes to use is important to get the job
          done safely and efficiently.
        </p>
      </div>
    </div>
    <div class="v1-swiper-bottom">
      <div class="swiper v1-swiper-box">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-item">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/off-road.jpg?v=1732553464" alt="">
              <p class="swiper-slide-item-info">Off-Road</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-item">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/off-road.jpg?v=1732553464" alt="">
              <p class="swiper-slide-item-info">Off-Road</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-item">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/off-road.jpg?v=1732553464" alt="">
              <p class="swiper-slide-item-info">Off-Road</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-item">
              <img src="https://cdn.shopify.com/s/files/1/0902/1122/1797/files/off-road.jpg?v=1732553464" alt="">
              <p class="swiper-slide-item-info">Off-Road</p>
            </div>
          </div>
        </div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M18.5 14L12.5 20M12.5 20L18.5 26M12.5 20L25 20" stroke="#191919"/>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M21.5 26L27.5 20M27.5 20L21.5 14M27.5 20L15 20" stroke="#191919"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var mySwiper = new Swiper('.v1-swiper-box', {
    slidesPerView: '3',
    spaceBetween: 30,
    grabCursor: true,
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "V1 Swiper",
  "settings": [],
  "presets": [
    {
      "name": "V1 Swiper"
    }
  ]
}
{% endschema %}
