<style>
    .teflo-about-Introduction{
        padding: 0 calc(100vw * 20 / var(--base-width));
        padding-top: calc(100vw * 30 / var(--base-width));
        display: flex;
        padding-bottom: calc(100vw * 149 / var(--base-width));
        background: #fff;
    }
    .teflo-about-Introduction-desc{
        width: 60%;
        flex-shrink: 0;
    }
    .teflo-about-Introduction-img{
        flex:1;
        display: flex;
        align-items: end;
    }
    .teflo-about-Introduction-img img{
        width: calc(100vw * 314 / var(--base-width));
    }
    .teflo-about-Introduction-desc *{
        color: #0D0D0D;
        font-size: calc(100vw * 18 / var(--base-width));
        font-style: normal;
        font-weight: 400;
        line-height: calc(100vw * 24 / var(--base-width));
        margin-bottom: 0px;
    }
</style>
<div class="teflo-about-Introduction">
    <div class="teflo-about-Introduction-img">

    </div>
    <div class="teflo-about-Introduction-desc">

    </div>
</div>